<%- include('partials/header'); -%>
    <div id="comp-container">
        <h1>Compose</h1>
        <form action="/compose" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="post-title">Title</label>
                <input class="form-control" id="post-title" name="postTitle" type="text" placeholder="Input title"
                    required autocomplete="off">
            </div>
            <div class="mb-3">
                <label for="postcontent">Post</label>
                <textarea class="form-control text-area" id="postcontent" name="blog" rows="4" cols="40" required
                    placeholder="Add Some Description about the File ..............."></textarea>
            </div>
            <div class="mb-3">
                <label for="password">Password</label>
                <input class="form-control" id="password" name="password" type="password" placeholder="Password">
            </div>
            <div class="mb-3">
                <label for="myfile">Select a file:</label>
                <input type="file" id="myfile" name="myfile">
            </div>
            <button class="btn btn-primary publish-btn" type="submit" name="button">Publish</button>
        </form>

        <%- include( 'partials/footer' ); -%>